.box1{
    background-color: black;
    height: 120px;
}

.icones{
    font-size: 60px !important;
    color: white;
}

.box2{
    background-color: black;
    height: 60px;
}

.cor{
    color: white;
}