.caixa{
    background-color: black;
}

.texto{
    color: white!important;
    font-weight: bold!important;
}

.botao{
    border-color: white!important;
    background-color: #3F51B5;
    color: white!important;
}

.post{
    background-color: white;
}

.titulo{
    color: brown;
    text-align: center;
}
.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.text-decorator-none{
    text-decoration: none;
}