.imagem2{
    background-image: url(https://imgur.com/HVckoRs.jpeg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.texto2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}